*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    padding: 20px;
}
.navbar div{
    float: left;
    color: white;
    margin-left: 50px;
    cursor: pointer;
}
ul a{
    margin-left: 10px;
}
ul{
    margin-left: 70%;
    margin-top: 5px;
}
.btn1{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-left: 2px solid white;
    color: white;
    font-size: medium;
    cursor: pointer;
}
.btn1:hover{
    color: yellow;
}
.logo{
  border-radius: 50%;
  margin-left: 70px;
  margin-top: 50px;
}
.intro {
    text-align: left;
    padding: 40px 20px;
    color: white;
    margin-left: 40%;
    margin-top: -29%;
}
.intro h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
.intro p {
    max-width: 800px;
    margin: 0 auto;
    letter-spacing: 1px;
    line-height: 40px;
}
.resume{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid red;
    background-color: transparent;
    color: white;
    font-size: medium;
    margin-top: 20px;
    transition: background-color 1s ease;
}
.resume:hover{
    background-color: red;
}
.project{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid blue;
    background-color: transparent;
    color: white;
    font-size: medium;
    margin-top: 20px;
    transition: background-color 1s ease;
    margin-left: 70px;
}
.project:hover{
    background-color: blue;
}
.contact{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid green;
    background-color: transparent;
    color: white;
    font-size: medium;
    margin-top: 20px;
    transition: background-color 1s ease;
    margin-left: 70px;
}
.contact:hover{
    background-color: green;
}
.line{
    border: 1px inset gray;
}

footer {
    padding: 20px;
    text-align: center;
}

.contact-info p {
    margin: 5px 0;
    font-size: 16px;
    color: white;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 30px;
    color: #fff;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #0077b5; /* Change color on hover */
}

/* -------------------Responsive---------------------------*/
@media (max-width: 768px) {
    .intro {
        width: 100%;
        margin-top: 20px;
      margin-left: 10px;
    }
   .logo{
    margin-left: 20px;
   }
}
